Add_checklists_to_tasks.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>checklistrecord.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_metadata_records.Label__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>checklistrecord.RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>checklistrecordcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>checklistrecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_metadata_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_records_exist</name>
        <label>Do records exist?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_metadata_records</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add checklists to tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add checklists to tasks</label>
    <loops>
        <name>Loop_metadata_records</name>
        <label>Loop metadata records</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_checklist_item_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_checklist_item_records</name>
        <label>Create checklist item records</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>checklistrecordcollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_records</name>
        <label>Get records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_records_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Checklist__mdt</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_records</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>checklistrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChecklistItem__c</objectType>
    </variables>
    <variables>
        <name>checklistrecordcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ChecklistItem__c</objectType>
    </variables>
</Flow>
